snippet vid "Prefilled video template"
<p>
  <video controls="on" width="100%">
     <source src="" type="video/mp4">
  </video>
</p>
endsnippet



snippet xlink3 "fooooooo"
hello
endsnippet


snippet xlink4 "fooooooo2"
[${VISUAL:Text}](${VISUAL:Text})
endsnippet
